.coment {
	background: #ffffff;
	border-radius: 16px;
	max-width: 500px;

	// .coment__wrapper
	&__wrapper {
		padding: 40px;

		form {
			& > *:not(:last-child) {
				margin-bottom: 20px;
			}

			font-weight: 600;
			font-size: 18px;
			line-height: 25px;

			color: #365c00;
		}
	}

	// .coment__title

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 35px;
		h3 {
			font-weight: 600;
			font-size: 24px;
			line-height: 33px;
			text-transform: uppercase;
			flex: 1 1 auto;
			text-align: center;
		}
	}

	// .coment__clouse

	&__clouse {
		position: relative;
		width: 40px;
		height: 40px;
		transform: rotate(45deg);
		align-items: flex-end;
		cursor: pointer;
		border-radius: 50%;

		&:active {
			background-color: #385c0571;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: relative;
			top: 42%;
			// transform: translateY(-50%);
			// left: 50%;
			width: 100%;
			height: 2px;
			background-color: #365c00;
			// transform: translate(50%, 50%);
		}

		&::after {
			transform: rotate(90deg);
			top: 41%;
		}
	}

	// .coment__name

	&__name {
		display: flex;
		flex-direction: column;

		label {
			padding-bottom: 10px;
		}

		input {
			width: 100%;
			border-bottom: 1px solid rgba(54, 92, 0, 0.25);
			font-size: inherit;
		}
	}

	// .coment__rating

	&__rating {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__rating-body {
		position: relative;
		flex: 0 1 29.8%;
		font-size: 30px;

		&::before {
			content: '★★★★★';
			color: #79b729;
			display: block;
			width: 100%;
		}
	}

	&__items {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #79b729;

		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 0%;
			height: 0%;
			opacity: 0;
			visibility: hidden;
		}

		label {
			flex: 0 1 20%;
			height: 100%;
			cursor: pointer;

			&::before {
				content: '★';
				display: block;
				cursor: pointer;
				transition: color 0.3s ease 0s;
			}
		}

		label:hover,
		label:hover ~ label {
			color: #365c00;
		}
	}

	// .coment__masseg

	&__masseg {
		display: flex;
		flex-direction: column;
		label {
			padding: 0 0 20px 0;
			border-bottom: 1px solid rgba(54, 92, 0, 0.25);
			width: 100%;
		}
		textarea {
			margin-top: 20px;
			max-width: 420px;
			width: 100%;
			border-bottom: 1px solid rgba(54, 92, 0, 0.25);
		}
	}

	// .coment__button

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		button {
			padding: 8px 60px;
			background: #79b729;
			border-radius: 3px;
			color: #ffffff;
			font-size: 18px;
			line-height: 25px;
			text-transform: uppercase;

			&:hover {
				background-color: #365c00;
			}
			&:active {
				background: #79b729;
			}
		}
	}
}
