.blog-inst__img {
	position: relative;
	width: 195px;
	height: 195px;
	overflow: hidden;
	border-radius: 16px;
	filter: drop-shadow(6px 6px 6px rgba(54, 92, 0, 0.2));
	margin: 0 5px;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		transform: scale(1.3);
	}
}
