.full-goods {
	position: relative;
	padding: 25px 0;
	color: #365c00;

	// .full-goods__container
	&__container {
	}

	// .full-goods__inf-goods

	&__inf-goods {
		padding: 40px 0 50px;

		& > *:first-child {
			display: flex;
			margin-bottom: 36px;
		}

		& > *:last-child {
			display: flex;
			margin-left: 220px;
		}
	}

	// .full-goods__slider

	&__slider {
		display: flex;
		padding-right: 50px;
	}

	// .full-goods__slider-imgs

	&__slider-imgs {
		padding-right: 24px;

		& > *:not(:last-child) {
			margin-bottom: 13px;
		}
	}

	// .full-goods__slider-img

	&__slider-img {
		width: 189px;
		height: 200px;
		filter: drop-shadow(6px 6px 6px rgba(54, 92, 0, 0.2));
		overflow: hidden;
		border-radius: 14px;

		img {
			transform: scale(1.1);
		}
	}

	// .full-goods__slider-big-img

	&__slider-big-img {
		width: 507px;
		height: 539px;
		filter: drop-shadow(6px 6px 6px rgba(54, 92, 0, 0.2));
		border-radius: 16px;
		overflow: hidden;

		img {
			// transform: scale(1.1);
		}
	}

	// .full-goods__inf-goods-body

	&__inf-goods-body {
		&__title {
			margin-bottom: 19px;
			h4 {
				font-weight: 600;
				font-size: 20px;
				line-height: 27px;
			}
		}

		&__summ {
			margin-bottom: 19px;
			font-size: 20px;

			& > .add-goods__content-conclusion-body {
				justify-content: flex-start;

				& > *:first-child {
					flex: 0 1 22%;
				}

				& > *:last-child {
					p {
						font-weight: 700;

						line-height: 27px;
					}
				}
			}
		}

		&__button {
			max-width: 307px;
			margin-bottom: 37px;
			button {
				color: #fff;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				padding: 10px 0;
				background: #79b729;
				border-radius: 3px;
				width: 100%;
				text-transform: uppercase;
			}
		}
	}

	// .full-goods__item

	&__item {
		margin-right: 38px;
	}

	// .full-goods__ibg

	&__ibg {
		position: relative;
		width: 73px;
		height: 73.53px;
	}

	// .full-goods__bac-icon

	&__bac-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;

		img {
			transform: translate(-50%, -50%);
		}

		&_mod {
			left: 45%;
		}
	}

	// .full-goods__bac-fon

	&__bac-fon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	// .full-goods__text

	&__text {
		position: relative;
		left: 40%;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		// transform: translateX(-50%);
	}

	// .full-goods__video

	&__video {
	}

	// .full-goods__content-video

	&__content-video {
	}

	// .full-goods__coment

	&__coment {
		display: flex;
		padding: 25px 0;
		border-bottom: 1px solid rgba(54, 92, 0, 0.25);

		& > *:first-child {
			padding-right: 23px;

			& > *:first-child {
				font-size: 24px;
				line-height: 33px;
			}
			& > *:last-child {
				color: #d7edba;
				font-size: 24px;
			}

			p {
				font-size: 16px;
				line-height: 22px;
			}
		}

		& > *:last-child {
			width: 100%;
			padding: 0 40px;
			background: #ffffff;
			box-shadow: 6px 6px 6px rgba(54, 92, 0, 0.2);
			border-radius: 0 16px 16px 16px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	// .full-goods__coment-rating

	&__coment-rating {
	}

	// .full-goods__coment-items

	&__coment-items {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	// .full-goods__coment-item

	&__coment-item {
		&.activ {
			color: #79b729;
			& ~ .full-goods__coment-item {
				color: #79b729;
			}
		}
	}

	// .full-goods__coment-name-goods

	&__coment-name-goods {
		p {
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
		}
		padding: 10px 0;
	}

	// .full-goods__coment-body

	&__coment-body {
		padding: 10px 0;
	}

	// .full-goods__peyment

	&__peyment {
	}

	// .full-goods__peyment-content

	&__peyment-content {
		position: relative;

		// .full-goods__peyment_bg
		&_bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	// .full-goods__peyment-icons

	&__peyment-icons {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	// .full-goods__peyment-icon

	&__peyment-icon {
		display: flex;
		flex: 0 1 33.333%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 50px 10px;

		img {
			max-width: 134px;
		}

		p {
			padding-top: 10px;
			text-align: center;
			font-weight: 700;
			font-size: 14px;
			line-height: 19px;

			text-transform: uppercase;

			color: #365c00;
		}
	}

	// .full-goods__content-related
	&__content-related {
		display: flex;
		align-items: center;
		justify-content: space-between;

		& > *:not(:last-child) {
			margin-right: 5px;
		}

		padding-bottom: 25px;
	}

	&__add-coment {
		position: fixed;
		z-index: 100;
		background: rgba(54, 92, 0, 0.75);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		& > * {
			position: relative;
			z-index: 100;
		}
	}
}

.tab {
	// .tab__titles

	&__titles {
		display: flex;
		margin-bottom: 6px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(54, 92, 0, 0.25);

		& > *:not(:last-child) {
			margin-right: 30px;
		}
		p {
			cursor: pointer;
		}

		p.activ {
			// padding-bottom: 10px;
			font-weight: 600;
			position: relative;

			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: -11px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #365c00;
				border-radius: 10px;
			}
		}
	}

	// .tab__body

	&__body {
		display: none;

		p {
			font-size: 16px;
			line-height: 22px;
		}

		&.activ {
			display: block;
		}
	}
}

.video {
	display: flex;
	position: relative;
	margin-bottom: 15px;
	color: #365c00;

	// .video__video
	&__video-bg {
		min-width: 720px;
		height: 400px;
		overflow: hidden;
		filter: drop-shadow(6px 6px 6px rgba(54, 92, 0, 0.2));
		border-radius: 16px;
		margin-right: 50px;
		img {
			transform: scale(1.1);
		}
	}

	// .video__body-text

	&__body-text {
		color: inherit;
	}

	// .video__title

	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 10px;
		color: #365c00;
	}

	// .video__text

	&__text {
		font-size: 16px;
		line-height: 22px;
	}
}
