.goods {
	margin: 25px 0;
	// .goods__container

	&__container {
	}

	// .goods__content

	&__content {
		display: flex;
	}

	// .goods__sidebar

	&__sidebar {
		color: #365c00;
		margin-right: 50px;
	}

	// .goods__filtr

	&__filtr {
		margin-bottom: 50px;

		& > *:not(:last-child) {
			margin-bottom: 14px;
		}
		ul {
			& > *:first-child {
				font-weight: 600;
				font-size: 20px;
				line-height: 27px;
				margin-bottom: 13px;
			}
			& > *:not(:last-child) {
				margin-bottom: 8px;
			}
			li {
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				a {
					color: inherit;
				}
			}
		}
	}

	// .goods__info

	&__info {
	}

	// .goods__info-title

	&__info-title {
	}

	// .goods__info-content

	&__info-content {
		& > *:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	// .goods__info-item

	&__info-item {
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 271px;
		width: 280px;
		border-radius: 16px;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.55);
			z-index: 3;
		}
	}

	// .goods__info-item-body

	&__info-item-body {
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		max-width: 220px;
		max-height: 200px;
		height: 100%;

		p {
			font-size: 14px;
			line-height: 19px;
			text-align: center;
			color: #365c00;
			padding: 20px;
		}

		a {
			font-size: 14px;
			line-height: 19px;
			text-transform: uppercase;
			text-align: center;
			color: #365c00;
		}
	}

	// .goods__info-item-igb

	&__info-item-igb {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .goods__catalog

	&__catalog {
	}

	// .goods__catalog-block

	&__catalog-block {
		margin-bottom: 45px;
	}

	// .goods__catalog-title

	&__catalog-title {
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 19px;

		color: #365c00;
		h3 {
			font-weight: 600;
		}
	}

	// .goods__catalog-block-goods

	&__catalog-block-goods {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& > *:not(:last-child) {
			margin-bottom: 18px;
		}
	}
}
