.home-header {
	margin: 25px 0;
	// .home-header__container

	&__container {
	}

	// .home-header__content

	&__content {
		position: relative;
		display: flex;
		margin: 0 -10px;

		& > *:not(:last-child) {
			margin-right: 24px;
		}
	}

	// .home-header__column

	&__column {
		flex: 0 1 73%;
		overflow: hidden;
		padding: 25px 10px;
		border-radius: 16px;

		&_mod {
			flex: 0 1 26%;
			display: flex;
			flex-direction: column;

			& > *:not(:last-child) {
				margin-bottom: 24px;
			}

			& > *:first-child {
				width: 305px;
				height: 224px;
				&::before {
					content: '';
					display: flex;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #fff;
					opacity: 0.75;
					z-index: 1;
				}
			}

			& > *:last-child {
				width: 305px;
				height: 152px;
				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #79b729;
					opacity: 0.94;
					z-index: 1;
				}
			}
		}
	}

	// .home-header__column-ikon

	&__column-ikon {
		position: relative;
		overflow: hidden;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #365c00;
		box-shadow: 6px 6px 7px rgba(54, 92, 0, 0.2);

		b {
			position: relative;
			z-index: 2;
			font-weight: 700;
			font-size: 36px;
			line-height: 49px;

			text-transform: uppercase;
		}
		span,
		p {
			position: relative;
			z-index: 2;
			font-weight: 700;
			font-size: 14px;
			line-height: 19px;
			padding-top: 5px;
		}
		p {
			font-weight: 700;
			font-size: 24px;
			line-height: 33px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;

			span {
				font-size: 14px;
				display: block;
				line-height: 224.5%;
			}
		}
		&_bg {
			position: relative;
			z-index: 2;
			padding: 10px 20px;
			span {
				position: relative;
				display: block;
				z-index: 3;
				font-weight: 700;
				font-size: 36px;
				line-height: 49px;
				color: #fff;
			}
		}

		&_bg-img {
			padding: 24px 52px;
			position: absolute;
			top: 0;
			left: 0;
			width: 150%;
			height: 150%;
			transform: translate(-25px, -20px);
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__column-ikon-sell {
		z-index: -1;

		&_mod {
			img {
				transform: translateY(-131px);
			}
		}
	}
}

.top-sell {
	// .top-sell__title

	&__title {
		display: flex;
		justify-content: space-between;
		padding: 0 0 15px 0;
		border-bottom: 1px solid rgba(54, 92, 0, 0.25);
		margin-bottom: 25px;

		h3 {
			font-weight: 600;
			font-size: 24px;
			line-height: 33px;
			text-transform: uppercase;

			color: #365c00;
		}

		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			text-transform: uppercase;

			color: #365c00;
		}
	}

	// .top-sell__body

	&__body {
		display: flex;
		justify-content: space-between;
		margin: 0 -11.5px 50px;

		& > * {
			padding: 0 11.5px;
		}
	}
}

.new {
	// .new__title

	&__title {
		display: flex;
		justify-content: space-between;
		padding: 0 0 15px 0;
		border-bottom: 1px solid rgba(54, 92, 0, 0.25);
		margin-bottom: 25px;

		h3 {
			font-weight: 600;
			font-size: 24px;
			line-height: 33px;
			text-transform: uppercase;

			color: #365c00;
		}

		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			text-transform: uppercase;

			color: #365c00;
		}
	}

	// .new__body

	&__body {
		display: flex;
		justify-content: space-between;
		margin: 0 -11.5px 50px;

		& > * {
			padding: 0 11.5px;
		}
	}
}

.blog {
	// .blog__title

	margin-bottom: 50px;

	&__title {
		display: flex;
		justify-content: space-between;
		padding: 0 0 15px 0;
		border-bottom: 1px solid rgba(54, 92, 0, 0.25);
		margin-bottom: 25px;

		h3 {
			font-weight: 600;
			font-size: 24px;
			line-height: 33px;
			text-transform: uppercase;

			color: #365c00;
		}

		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			text-transform: uppercase;

			color: #365c00;
		}
	}

	// .blog__body

	&__content {
	}
}

.about {
	margin-bottom: 50px;

	&__title {
		display: flex;
		justify-content: space-between;
		padding: 0 0 15px 0;
		border-bottom: 1px solid rgba(54, 92, 0, 0.25);
		margin-bottom: 25px;

		h3 {
			font-weight: 600;
			font-size: 24px;
			line-height: 33px;
			text-transform: uppercase;

			color: #365c00;
		}

		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			text-transform: uppercase;

			color: #365c00;
		}
	}

	&__garant {
		position: relative;
		// .about__garant_bg

		&_bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__garant-icons {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	&__garant-icon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 50px 10px;

		img {
			max-width: 134px;
		}

		p {
			max-width: 185px;
			text-align: center;
			font-weight: 700;
			font-size: 14px;
			line-height: 19px;

			text-transform: uppercase;

			color: #365c00;
		}
	}

	// .about__why-us

	&__why-us {
		color: #365c00;
	}

	// .about__why-us-title

	&__why-us-title {
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
		margin-bottom: 21px;
		h4 {
			font-weight: 600;
		}
	}

	&__why-us-content {
		ul {
			& > *:not(:last-child) {
				margin-bottom: 21px;
			}

			li {
				display: flex;
				align-items: flex-start;

				font-size: 18px;
				line-height: 25px;

				img {
					margin-right: 6px;
				}
			}
		}
	}
}

.inst {
	margin-bottom: 50px;

	&__title {
		display: flex;
		justify-content: space-between;
		padding: 0 0 15px 0;
		border-bottom: 1px solid rgba(54, 92, 0, 0.25);
		margin-bottom: 25px;

		h3 {
			font-weight: 600;
			font-size: 24px;
			line-height: 33px;
			text-transform: uppercase;

			color: #365c00;
		}

		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			text-transform: uppercase;

			color: #365c00;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		padding: 0 5px;
	}
}
