.wrapper {
	min-height: 100vh;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

footer {
	background-color: #365c00;
}

.container {
	max-width: 1306px;
	padding: 0 5px;
	margin: 0 auto;
}
