// FONT FEMELI
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
// nullstayl
@import './nullStayl.scss';
// conponens stayle
@import './components/header.scss';
@import './components/footer.scss';

body {
	font-family: 'Open Sans';
	font-weight: normal;
	&.activ {
		overflow: hidden;
	}
}

.wrapper {
	min-height: 100vh;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
	background-color: #feffe5;
	margin: 25px 0;
}

footer {
	background-color: #365c00;
}

.container {
	max-width: 1306px;
	padding: 0 5px;
	margin: 0 auto;
}

.sociale {
	display: flex;
	align-items: center;
	margin-top: 20px;

	a {
		width: 45px;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			fill: #ffffff;

			&:hover {
				fill: #79b729;
			}
		}
	}

	& > *:not(:last-child) {
		margin-right: 15px;
	}
}

.ibg {
	// position: relative;
	img {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

._title {
	display: flex;
	justify-content: space-between;
	padding: 25px 0 15px 0;
	border-bottom: 1px solid rgba(54, 92, 0, 0.25);
	margin-bottom: 25px;

	h3 {
		font-weight: 600;
		font-size: 24px;
		line-height: 33px;
		text-transform: uppercase;

		color: #365c00;
	}

	a {
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		// justify-content: center;

		color: #365c00;
	}
}
